/* css reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* css variables */
:root{
    --navbar-height:60px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* justify-content: center; */
}
/* navigation bar: logo and images */
#logo{
margin: 10px 34px;
}

#logo img{
margin: 3px 5px;
height: 60px;
}

/* navigation bar:list styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    
}

#navbar::before{
    content:"";
    background-color: black;;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: yellow;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 1050px;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content:"";
    background:url('../img/background.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#home h1{
    color: #121111;
    text-align: center;
}

#home p{
    color:#26251b;
    text-align: center;
    font-size: 1.5em;
}


/* section services */
#services{
    display: flex;
    margin: 34px;

}

#services .box { 
    border: 2px solid red;
    padding: 34px;
    margin: 2px 6px; 
     background: #cccc81;
    width: 100%;
    border-radius: 30px;
}

#services .box img{
    height: 300px;
    display: block;
    margin: auto;
    width: 500px;
}


/*clients section*/

#client-section{
position: relative;
}

#client-section::before{
     content: "";
     position: absolute;
     background: url('../img/client.jpg');
     width: 100%;
     height: 40%;
     z-index: -1;
     opacity: 0.7;
    }

#client{
display: flex;
justify-content: center;
align-items: center;
}

.client-item{
    padding:34px ;
}

#client img{
    height: 125px;
}

/* contact secion */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position:absolute;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url('../img/contact.jpg');
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
}

/* footer */

footer{
    background: black;
    color: white;
    padding: 9px 20px;
    font-size: 1.5rem;
}


/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    font-family: 'Baloo Bhai', cursive;
    color: red;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #ee8291;
    color: #1f1d1f;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}

.center{
    text-align: center;
}